DB_HOST=localhost
DB_PORT=5432
DB_NAME=balu_food
DB_USER=postgres
DB_PASS=troque_a_senha
FRONTEND_URL=http://localhost:5500
MERCADO_PAGO_ACCESS_TOKEN=coloque_no_backend_nunca_no_front
MERCADO_PAGO_WEBHOOK_SECRET=opcional
APP_ADMIN_URL=http://localhost:3000/admin
APP_CLIENT_URL=http://localhost:5500
